* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url(proxima-nova-condensed-regular.ttf);
}
 @font-face {
    font-family: 'AshleyCapitaliSofia';
    src: url(ashleycapitalisofia-regular.ttf);
}
body {
    min-height: 100vh;
    max-width: 100vw;
    margin: 0 auto;
    font-family: 'Proxima Nova';
    color: #000;
    position: relative;
}

.circle {
    width: 5px;
    height: 5px;
    background-color: #000;
    border-radius: 50%;
}
.header-container, .header-container-in, .header-about, .header-left, .header-right, .header-adress, .header-phone, .header-nav, 
.main-container, .frame-1-project, .pic-play-project, .frame-1-price-project, .frame-1-price-radius {
    display: flex;
}
.header-container-in, .main-container, .frame-1-project, .pic-play-project, .frame-1-price-project, .frame-1-price-radius {
    justify-content: center;
}
.header-about, .header-nav {
    justify-content: space-between;
}
.header-container-in, .header-about, .header-left, .header-right, .header-nav, .frame-1-project, 
.pic-play-project, .frame-1-price-project, .frame-1-price-radius {
    align-items: center;
}
.header-container {
    max-width: 1920px;
    margin: 0 auto;
}
.header-container-in {
    width: 1520px;
    flex-direction: column;
}
.header-about {
    width: 100%;
    color: #333333;
    padding: 26px 0 30px 0;
    border-bottom: 1px solid #999999;
    flex-direction: row;
}
.header-left, .header-right {
    gap: 50px;
    margin: 0;
}
.header-left {
    width: 498px;
}
.header-adress, .header-phone {
    flex-wrap: wrap;
}
.header-adress {
    margin-left: 10px;
}
.header-phone {
    gap: 10px;
}
.call-me {
    border: 1px solid #333333;
    padding: 10px 30px;
    text-align: center;
}
.header-logo1, .header-menu, .frame-1-mini-img {
    display: none;
}
.header-nav, .frame-1-word {
    text-transform: uppercase;
}
.header-nav {
    width: 100%;
    font-size: clamp(0.6rem, -0.25rem + 2vw, 1rem);
    padding: 30px 0;
    flex-direction: row;
}
.main-container {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}
.main-container section, .main-container p, .pic-project img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.frame-1-word, .frame-1-price-project {
    font-family: 'Proxima Nova';
    color: #fff;
}
.frame-1-word {
    font-size: 80px;
}
.frame-1-project, .frame-1-word-1, .frame-1-word-2, .pic-play-project, .frame-1-arrow, .frame-1-price-radius {
    position: absolute;
}
.frame-1-project {
    width: 100%;
    height: 956px;
    margin: 0 auto; 
    z-index: 1;
}
.frame-1-word-1, .frame-1-word-2 {
    left: 200px;
    z-index: 2;
}
.frame-1-word-1 {
    top: 300px;
}
.frame-1-word-2 {
    top: 417px;
}
.pic-play-project, .frame-1-price-radius {
    border: 1px solid #fff;
    border-radius: 50%;
}
.pic-play-project {
    width: 50px;
    height: 50px;
    top: 50px;
    left: 1671px;
}
.frame-1-play-button {
    padding-left: 4px;
}
.frame-1-arrow {
    top: 786px;
    left: 200px;
}
.frame-1-price-project {
    width: 286px;
    height: 286px;
    background-color: #333;
    font-size: 22px;
    border-radius: 50%;
}
.frame-1-price-radius {
    width: 372px;
    height: 372px;
    top: 670px;
    left: 1348px;
}



.frame-2-img1-1, .frame-2-img2-2, .frame-2-line3 {
    display: none;
}
.frame-2, .frame-2-word-1, .frame-2-word-2, .frame-2-word-3, .frame-2-word-4, .frame-2-img1, .frame-2-line1, .frame-2-img2, .frame-2-line2 {
    position: absolute;
}
.frame-2 {
    width: 1920px;
    height: 1100px;
    top: 1099px;
}
.frame-2-word {
    font-size: 60px;
    font-family: 'Proxima Nova';
    text-transform: uppercase;
}
.frame-2-word-1, .frame-2-word-2, .frame-2-word-3, .frame-2-img1 {
    left: 200px;
}
.frame-2-word-1 {
    top: 100px;
}
.frame-2-word-2 {
    top: 193px;
}
.frame-2-word-3 {
    top: 286px;
}
.frame-2-word-4 {
    top: 927px;
    left: 943px;
}
.frame-2-img1, .frame-2-line1, .frame-2-img2, .frame-2-line2 {
    top: 459px;
}
.frame-2-img1 {
    z-index: 1;
}
.frame-2-line1 {
    left: 384px;
}
.frame-2-img2 {
    left: 1105px;
}
.frame-2-line2 {
    left: 1102.27px;
}




.frame-3, .frame-3-project img {
    max-width: 100%;
    height: auto;
}
.frame-3 {
    position: absolute;
    margin: 0 auto;
    left: 0px;
    top: 2199px;
}
.frame-3-exp {
    width: 1920px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}
.frame-3-exp p {
    color: #333;
}
.frame-3-exp-tittle {
    font-size: 60px;
    font-family: 'AshleyCapitaliSofia';
    margin-bottom: 30px;
}
.frame-3-exp-subtittle {
    font-size: 28px;
    font-family: 'Proxima Nova';
    text-transform: uppercase;
}



.frame-4-quote2, .frame-4-name2, .frame-4-data2, .frame-4-arrow1-2, .frame-4-arrow2-2, .frame-4-arrow3-2, .frame-4-background1 {
    display: none;
}
.frame-4, .frame-4-tittle, .frame-4-quote, .frame-4-feedback, .frame-4-name, .frame-4-data, .frame-4-arrow1, .frame-4-arrow2, .frame-4-arrow3 {
    position: absolute;
}
.frame-4 {
    width: 1920px;
    height: 1050px;
    top: 3194px;
}
.frame-4-background img {
    max-width: 100%;
    height: auto;
}
.frame-4-background {
    padding-top: 50px;
}
.frame-4-tittle, .frame-4-quote, .frame-4-arrow1 {
    left: 200px;
}
.frame-4-tittle {
    top: 100px;
    font-size: 80px;
    color: #fff;
    text-transform: uppercase;
}
.frame-4-quote {
    top: 387px;
    color: #fff;
}
.frame-4-feedback {
    width: 1370px;
    font-size: 32px;
    line-height: 56px;
    color: #fff;
    padding-right: 200px;
    top: 335px;
}
.frame-4-name, .frame-4-data {
    top: 609px;
}
.frame-4-name, .frame-4-feedback {
    left: 350px;
}
.frame-4-data {
    left: 1526px;
}
.frame-4-arrow1, .frame-4-arrow3 {
    top: 850px;
}
.frame-4-arrow2 {
    top: 844px;
    left: 805px;
}
.frame-4-arrow3 {
    left: 1506px;
}




.frame-5-1object-photo-mini, .frame-5-2object-photo-mini, .frame-5-3object-photo-mini, .frame-5-4object-photo-mini,
.frame-5-ellipce-mini, .frame-5-line-mini, .frame-5-all-project-mini {
    display: none;
}
.frame-5, .frame-5-title, .frame-5-comm, .frame-5-personal-project, .frame-5-public-project, .frame-5-1object, 
.frame-5-2object, .frame-5-3object, .frame-5-4object, .frame-5-ellipce, .frame-5-line, .frame-5-all-project {
    position: absolute;
}
.frame-5-title, .frame-5-personal-project, .frame-5-public-project, .frame-5-object-info {
    text-transform: uppercase;
}
.frame-5-personal-project, .frame-5-lookfull-project {
    text-decoration: underline;
}
.frame-5 {
    width: 1920px;
    height: 2727px;
    top: 4242px;
}
.frame-5-title, .frame-5-comm, .frame-5-personal-project, .frame-5-1object, .frame-5-3object {
    left: 200px;
}
.frame-5-title {
    font-size: 80px;
    top: 100px;
}
.frame-5-comm {
    font-size: 32px;
    top: 217px;
}
.frame-5-personal-project, .frame-5-public-project {
    top: 317px;   
}
.frame-5-public-project {
    left: 428px;
}
.frame-5-object-info {
    font-size: 32px;
    line-height: 50px;
    gap: 20px;
}
.frame-5-object-info p {
    padding-top: 20px;
}
.frame-5-adres-object {
    color: #888;
}
.frame-5-lookfull-project {
    font-size: 20px;
}
.frame-5-1object, .frame-5-2object {
    top: 409px;
}
.frame-5-2object, .frame-5-4object {
    left: 975px;
}
.frame-5-3object, .frame-5-4object {
    top: 1483px;
}
.frame-5-ellipce {
    top: 223px;
    left: 1534px;
}
.frame-5-line {
    top: 1049px;
    left: 1549.13px;
    z-index: -1;
}
.frame-5-all-project {
    top: 2557px;
}
.frame-5-all-project img {
    max-width: 100%;
    height: auto;
}


.quality, .quality-background, .quality-info, .quality-free, .quality-arrow {
    position: absolute;
}
.quality-arrow-mini {
    display: none;
}
.quality {
    width: 1920px;
    height: 965px;
    top: 6970px;
}
.quality-main-photo {
    padding: 100px 0;
}
.quality-main-photo img {
    max-width: 100%;
    height: auto;
}
.quality-background {
    width: 820px;
    height: 765px;
    background-color: #333;
    top: 100px;
    left: 1100px;
}
.quality-info, .quality-free {
    text-transform: uppercase;
    color: #fff;
    left: 1150px;
}
.quality-info {
    width: 570px;
    top: 465px;
    font-size: 28px;
    line-height: 50px;
}
.quality-free {
    font-size: 54px;
    top: 715px;
}
.quality-arrow {
    top: 765px;
    left: 1600px;
}


.tour3d, .tour3d-look, .tour3d-new-interior, .tour3d-project, .tour3d-main-photo, .tour3d-for-you, .tour3d-arrow {
    position: absolute;
}
.tour3d-mini-arrow, .tour3d-mini-photo {
    display: none;
}
.tour3d-look, .tour3d-new-interior, .tour3d-project, .tour3d-main-photo, .tour3d-for-you {
    left: 200px;
}
.tour3d {
    width: 1920px;
    height: 1434px;
    top: 7939px;
}
.tour3d-look, .tour3d-new-interior {
    font-size: 80px;
    line-height: 97.44px;
    color: #333;
    text-transform: uppercase;
}
.tour3d-look,.tour3d-arrow {
    top: 100px;
}
.tour3d-new-interior {
    top: 217px;
}
.tour3d-project, .tour3d-for-you {
    font-size: 32px;
    line-height: 50px;
    color: #333;
}
.tour3d-project {
    top: 334px;
}
.tour3d-main-photo {
    top: 434px;
}
.tour3d-main-photo img {
    max-width: 100%;
    height: auto;
}
.tour3d-for-you {
    top: 1284px;
}
.tour3d-arrow {
    left: 1720px;
}


.services, .services-ellipse, .services-line1, .services-line2 {
    position: absolute;
}
.services, .services-list {
    display: flex;
}
.services-line2-mini, .services-ellipce-mini {
    display: none;
}
.services {
    width: 1920px;
    height: 1610px;
    background-color: #897163;
    top: 10482px;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
}
.services-list {
    width: 1519px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.services-info {
    width: 745px;
    font-size: 60px;
    line-height: 73.08px;
    color: #fff;
    text-transform: uppercase;
}
.contract {
    margin-top: 100px;
}
.visit {
    margin-bottom: 100px;
}
.services-ellipse {
    top: 314px;
    left: 15px;
}
.services-line1 {
    top: 0;
    left: 1549.25px;
}
.services-line2 {
    top: 1110px;
    left: 370px;
}
.services-photo img {
    max-width: 100%;
    height: auto;
}
.services-photo1 {
    z-index: 1;
}



.better-lounge-mini-photo, .better-layout-mini-photo, .better-kitchen-mini-photo, .better-line-mini, .better-arrow-mini {
    display: none;
}
.better, .why-we-better, .we-make, .better-line, .better-arrow, .better-kitchen-photo, .better-layout-photo, .better-lounge-photo {
    position: absolute;
}
.why-we-better, .we-make, .better-kitchen-photo {
    left: 200px;
}
.better {
    width: 1920px;
    height: 1100px;
    top: 9382px;
}
.why-we-better, .we-make {
    text-transform: uppercase;
    color: #333;
}
.why-we-better {
    font-size: 80px;
    line-height: 97.44px;
    top: 100px;
}
.we-make {
    font-size: 60px;
    line-height: 73.08px;
}
.we-make {
    top: 847px;
}
.better-line {
    top: 120px;
    left: 322px;
}
.better-kitchen-photo, .better-lounge-photo {
    top: 297px;
}
.better-kitchen-photo img, .better-layout-photo img, .better-lounge-photo img  {
    max-width: 100%;
    height: auto;
}
.better-layout-photo {
    top: 499px;
    left: 906px;
    z-index: 1;
}
.better-lounge-photo {
    left: 1100px;
}
.better-arrow {
    top: 930px;
    left: 960px;
}



.rate-kitchen-mini, .rate-ellipce-mini, .rate-background-mini {
    display: none;
}
.rates, .rate-background, .rate-plan, .rate-kitchen, .rate-ellipce ,.ours-rate, .tariff-card {
    position: absolute;
}
.rates {
    width: 1920px;
    height: 1657px;
    top: 12100px;
}
.rate-background, .ours-rate {
    top: 100px;
}
.rate-background img {
    max-width: 100%;
    height: auto;
}
.rate-plan {
    top: 247px;
    left: 1104px;
}
.rate-kitchen {
    top: 1009px;
    left: 329px;
    padding-bottom: 100px;
}
.rate-ellipce {
    top: 1143px;
    left: 1465px;
}
.ours-rate, .concept {
    left: 200px;
}
.ours-rate, .name-of-rate, .order-rate, .text-download-price {
    text-transform: uppercase;
}
.ours-rate, .price-rate {
    color:#333
}
.ours-rate {
    font-size: 80px;
    line-height: 97px;
}
.tariff-card {
    width: 487px;
    height: 837px;
    background-color: #fff;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.1);
}
.concept {
    top: 247px;
}
.complex {
    top: 347px;
    left: 717px;
}
.comfort {
    top: 447px;
    left: 1234px;
}
.concept-plus {
    margin: 0;
}
.list-of-rate, .button-download-price {
    display: flex;
}
.list-of-rate, .price-rate {
    font-size: 20px;
    line-height: 32px;
}
.list-of-rate {
    color: #222;
    padding: 50px 30px;
    list-style-position: inside;
    flex-direction: column;
    gap: 50px;
}
.name-of-rate, .price-rate-number {
    color: #897163;
}
.name-of-rate {
    font-size: 28px;
    line-height: 50px;
    padding: 30px 0 0 30px;
}
.order-rate, .button-download-price {
    width: 427px;
    text-align: center;
}
.order-rate {
    height: 56px;
    background-color: #897163;
    font-size: 18px;
    line-height: 56px;
    color: #fff;
}
.button-download-price {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;
    gap: 10px;
    margin: 30px 0 50px 30px;
}
.download-price {
    margin-right: 0;
    text-align: center;
}
.text-download-price {
    width: 145px;
    font-size: 18px;
    line-height: 56px;
}
.button-download-price p {
    margin-left: 0px;
}
.price-rate {
    padding: 0 0 30px 50px;
}
.price-rate-number {
    font-size: 100px;
    line-height: 88px;
}


.about, .about-background, .about-gradient, .about-us, .about-us-title, .about-us-subtitle, .about-us-subsubtitle, #more-about {
    position: absolute;
}
.about-gradient-mini, .about-background-mini {
    display: none;
}
.about {
    width: 1920px;
    height: 1117px;
    top: 13701px;
}
.about-background {
    top: 100px;
}
.about-background img, .about-gradient img {
    max-width: 100%;
    height: auto;
}
.about-gradient {
    width: 1920px;
    height: 238px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    top: 463px;
}
.about-us {
    width: 1320px;
    height: 667px;
    margin-bottom: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
    top: 350px;
    left: 300px;
}
.about-us p {
    color: #333;
}
.about-us-title, .about-us-subtitle, .about-us-subsubtitle, #more-about {
    left: 50px;
}
.about-us-title, .about-us-subtitle {
    text-transform: uppercase;
}
.about-us-subsubtitle, #more-about {
    font-size: 20px;
}
.about-us-title {
    font-size: 80px;
    line-height: 97px;
    top: 50px;
}
.about-us-subtitle {
    font-size: 28px;
    line-height: 34px;
    top: 177px;
}
.about-us-subsubtitle {
    line-height: 32px;
}
.about-us-subsubtitle1 {
    top: 241px;
}
.about-us-subsubtitle2 {
    top: 335px;
}
.about-us-subsubtitle3 {
    top: 429px;
}
#more-about {
    width: 103px;
    line-height: 42px;
    color: #897163;
    border-bottom: 2px solid #897163;
    top: 575px;
}
#more-about:hover {
    cursor: pointer;
    color: rgb(233, 180, 96);
    border-bottom: none;
}




.interior_videos, .interior_for_u, .same_like_plan, .first_video, .second_video, .finished_object, .interior_arrow, .play_first_video, .play-second_video {
    position: absolute;
}
.interior_for_u, .same_like_plan, .first_video, .second_video, .finished_object { 
    left: 200px;
}
.interior_videos {
    width: 1920px;
    top: 14819px;
}
.interior_for_u {
    font-size: 80px;
    line-height: 97px;
    color: #333;
    top: 100px;
    text-transform: uppercase;
}
.same_like_plan {
    top: 334px;
}
.finished_object, .same_like_plan {
    font-size: 32px;
    line-height: 50px;
    color: #333;
}
.first_video {
    top: 534px;
}
.first_video img, .second_video img {
    max-width: 100%;
    height: auto;
}
.second_video {
    top: 1384px;
}
.finished_object {
    top: 2234px;
}
.interior_arrow {
    top: 2220px;
    left: 1550px;
}
.button_play, .border_radius_forplay {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.button_play {
    width: 286px;
    height: 286px;
    background-color: #897163;
}
.border_radius_forplay {
    width: 372px;
    height: 372px;
    border: 1px solid #333333CC;
}
.play_first_video, .play-second_video {
    left: 774px;
}
.play_first_video {
    top: 769px;
}
.play-second_video {
    top: 1619px;
}



@media (min-width: 1024px) and (max-width: 1440px) {
    .frame-1-word {
        font-size: 50px;
    }
    .frame-1-word-1, .frame-1-word-2 {
        left: 190px;
    }
    .frame-1-word-1 {
        top: 222px;
    }
    .frame-1-word-2 {
        top: 300px;
    }
    .frame-1-arrow {
        top: 532px;
    }
    .frame-1-price-radius {
        top: 453px;
        left: 990px;
    }
    .pic-play-project {
        left: 1295px;
    }


    .frame-2-word-1, .frame-2-word-2, .frame-2-word-3, .frame-2-word-4, .frame-2-img1, .frame-2-line1, .frame-2-img2, .frame-2-line2 {
        position: absolute;
    }
    .frame-2-word {
        font-size: 45px;
    }
    .frame-2-word-1, .frame-2-word-2, .frame-2-word-3, .frame-2-img1 {
        left: 160px;
    }
    .frame-2-word-1 {
        top: -160px;
    }
    .frame-2-word-2 {
        top: -90px;
    }
    .frame-2-word-3 {
        top: -20px;
    }
    .frame-2-word-4 {
        top: 601px;
        left: 825px;
    }
    .frame-2-img1, .frame-2-line1, .frame-2-img2, .frame-2-line2 {
        top: 127px;
    }
    .frame-2-img1, .frame-2-img2 {
        z-index: 1;
    }
    .frame-2-line1 {
        left: 343px;
    }
    .frame-2-img2 {
        left: 948px;
    }
    .frame-2-line2 {
        left: 944px;
    }


    .frame-3 {
        position: absolute;
        top: 1867px;
    }



    .frame-4, .frame-4-tittle, .frame-4-quote, .frame-4-feedback, .frame-4-name, .frame-4-data, .frame-4-arrow1, .frame-4-arrow3, .frame-4-arrow2 {
        position: absolute;
    }
    .frame-4 {
        top: 2661px;
    }
    .frame-4-tittle, .frame-4-arrow1 {
        left: 150px;
    }
    .frame-4-quote {
        top: 319px;
        left: 100px;
    }
    .frame-4-feedback {
        width: 1125px;
        padding-right: 0;
        top: 260px;
        left: 250px;
    }
    .frame-4-name, .frame-4-data {
        top: 497px;
    }
    .frame-4-name {
        left: 230px;
    }
    .frame-4-data {
        left: 1100px;
    }
    .frame-4-arrow1, .frame-4-arrow3 {
        top: 617px; 
    }
    .frame-4-arrow3 {
        left: 1075px;
    }
    .frame-4-arrow2 {
        top: 611px;
        left: 566px;
    }


    .frame-5, .frame-5-title, .frame-5-comm, .frame-5-personal-project, .frame-5-1object, .frame-5-2object, .frame-5-3object, .frame-5-4object,
    .frame-5-public-project, .frame-5-2object-info, .frame-5-3object-info, .frame-5-4object-info, .frame-5-1object-info, .frame-5-all-project {
        position: absolute;
    }
    .frame-5-ellipce, .frame-5-line {
        display: none;
    }
    .frame-5 {
        top: 3365px;
    }
    .frame-5-title, .frame-5-comm, .frame-5-personal-project, .frame-5-1object, .frame-5-2object, .frame-5-3object, .frame-5-4object {
        left: 100px;
    }
    .frame-5-public-project {
        left: 328px;
    }
    .frame-5-2object-info, .frame-5-3object-info, .frame-5-4object-info, .frame-5-1object-info {
        top: 100px;
    }
    .frame-5-2object-info, .frame-5-3object-info, .frame-5-4object-info, .frame-5-1object-info {
        left: 900px;
    }
    .frame-5-2object {       
        top: 2009px;
    }
    .frame-5-3object {
        top: 1209px;
    }
    .frame-5-4object {
        top: 2809px;
    }
    .frame-5-all-project {
        top: 3609px;
    }

    .quality, .quality-background, .quality-info, .quality-free, .quality-arrow {
        position: absolute;
    }
    .quality {
        top: 7102px;
    }
    .quality-background {
        width: 630px;
        height: 574px;
        left: 810px;
    }
    .quality-info, .quality-free {
        left: 831px;
    }
    .quality-info {
        top: 340px;
    }
    .quality-free {
        top: 523px;
    }
    .quality-arrow {
        top: 565px;
        left: 1240px;
    }


    .tour3d, .tour3d-look, .tour3d-for-you, .tour3d-main-photo, .tour3d-new-interior, .tour3d-project, .tour3d-arrow {
        position: absolute;
    }
    .tour3d {
        top: 7850px;
    }
    .tour3d-look, .tour3d-for-you, .tour3d-main-photo, .tour3d-new-interior, .tour3d-project {
        left: 50px;
    }
    .tour3d-main-photo {
        left: 0;
    }
    .tour3d-arrow {
        left: 1381px;
    }


    .services-line2, .services-line1, .services {
        position: absolute;
    }
    .services {
        top: 10351px;
    }
    .services-list {
        width: 1300px;
    }
    .services-line2 {
        top: 992px;
    }
    .services-line1 {
        left: 1300.25px;
    }



    .better, .why-we-better, .we-make, .better-line, .better-kitchen-photo, .better-layout-photo, .better-lounge-photo, .better-arrow {
        position: absolute;
    }    
    .better {
        top: 9250px;
    }
    .why-we-better, .we-make {
        left: 50px;
    }
    .better-line {
        left: 172px;
    }
    .better-kitchen-photo {
        left: 50px;
    }
    .better-layout-photo {
        left: 515px;
    }
    .better-lounge-photo {
        left: 770px;
    }
    .better-arrow {
        left: 720px;
    }


    /* .rates, .ours-rate, .comfort, .concept, .complex, .rate-kitchen, .price-rate {
        position: absolute;
    } */ 
    .rates {
        position: absolute;
        top: 11789px;
    }
    .ours-rate {
        position: absolute;
        left: 125px;
    }
    .tariff-card {
        width: 435px;
        position: absolute;
    }
    .concept, .complex {
        height: 900px;
    }
    .concept {
        left: 35px;
    }
    .complex {
        left: 505px
    }
    .comfort {
        height: 804px;
        left: 975px;
    }
    .order-rate, .button-download-price {
        width: 375px;
    }
    .rate-kitchen {
        position: absolute;
        left: 160px;
    }
    .rate-plan {
        position: absolute;
        left: 795px;
    }
    .rate-ellipce {
        display: none;
    }


    .about, .about-us, .about-gradient {
        position: absolute;
    }
    .about {
        top: 13390px;
    }
    .about-us {
        width: 1205px;
        left: 119px;
    }
    .about-gradient {
        width: 1440px;
        height: 202px;
        top: 348px;
    }

}




@media (min-width: 768px) and (max-width: 1024px) {
    .header-container-in {
        justify-content: space-evenly;
        align-items: center;
    }
    .header-right, .header-left {
        gap: 15px;
    }
    .header-logo {
        align-self: center;
    }
    .header-adress {
        margin: 0;
    }
    .header-left, .header-right {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;  
    }
    .header-left {
        width: 297px;
    }
    .header-right {
        padding-right: 20px;
    }
    .frame-1-word {
        font-size: 40px;
    }
    .frame-1-word-1, .frame-1-word-2 {
        left: 130px;
    }
    .frame-1-word-1 {
        top: 130px;
    }
    .frame-1-word-2 {
        top: 200px;
    }
    .frame-1-arrow {
        top: 343px;
    }
    .pic-play-project {
        width: 35px;
        height: 35px;
        left: 900px;
    }
    .frame-1-price-radius {
        top: 300px;
        left: 617px;
        width: 300px;
        height: 300px;
    }
    .frame-1-price-project {
        width: 250px;
        height: 250px;
    }


    .frame-2-word-1, .frame-2-word-2, .frame-2-word-3, .frame-2-word-4, .frame-2-img1, .frame-2-line1, .frame-2-img2, .frame-2-line2 {
        position: absolute;
    }
    .frame-2-word {
        font-size: 30px;
    }
    .frame-2-word-1, .frame-2-word-2, .frame-2-word-3, .frame-2-word-4, .frame-2-img1, .frame-2-img2 {
        left: 65px;
    }
    .frame-2-word-1 {
        top: -410px;
    }
    .frame-2-word-2 {
        top: -360px;
    }
    .frame-2-word-3 {
        top: -310px;
    }
    .frame-2-word-4 {
        top: -260px;
    }
    .frame-2-img1, .frame-2-img2 {
        z-index: 1; 
    }
    .frame-2-img1 {
        top: -190px;
    }
    .frame-2-line1 {
        top: -189px;
        left: 249px;
    }
    .frame-2-img2 {
        top: -190px;
    }
    .frame-2-img2 {
        top: -190px;
        left: 665px;
    }
    .frame-2-line2 {
        top: -189px;
        left: 661px;
    }


    .frame-3 {
        position: absolute;
        top: 1551px;
    }
    .frame-3-exp-tittle {
        font-size: 40px;
    }

    
    .frame-4-quote2, .frame-4-name2, .frame-4-data2, .frame-4-arrow1-2, .frame-4-arrow2-2, .frame-4-arrow3-2 {
        display: block;
    }
    .frame-4-quote, .frame-4-name, .frame-4-data, .frame-4-arrow1, .frame-4-arrow2, .frame-4-arrow3 {
        display: none;
    }
    .frame-4, .frame-4-tittle, .frame-4-quote2, .frame-4-feedback, .frame-4-name2, .frame-4-data2, .frame-4-arrow1-2, 
    .frame-4-arrow2-2, .frame-4-arrow3-2 {
        position: absolute;
    }
    .frame-4 {
        top: 2102px;
    }
    .frame-4-tittle {
        top: 80px;
        left: 120px;
        font-size: 50px;
    }
    .frame-4-quote2 {
        top: 260px;
        left: 30px;
    }
    .frame-4-feedback {
        width: 940px;
        top: 170px;
        left: 80px;
        font-size: 25px;
    }
    .frame-4-name2, .frame-4-data2 {
        top: 410px;
    }
    .frame-4-name2 {
        left: 60px;
    }
    .frame-4-data2 {
        left: 860px;
    }
    .frame-4-arrow1-2, .frame-4-arrow2-2, .frame-4-arrow3-2 {
        top: 480px;
    }
    .frame-4-arrow1-2 {
        left: 50px;
    }
    .frame-4-arrow2-2 {
        left: 460px;
    }
    .frame-4-arrow3-2 {
        left: 928px;
    }


    .frame-5-ellipce, .frame-5-line {
        display: block;
    }
    .frame-5, .frame-5-1object-info, .frame-5-3object, .frame-5-3object-info, .frame-5-2object, .frame-5-2object-info, 
    .frame-5-4object, .frame-5-4object-info, .frame-5-all-project, .frame-5-ellipce, .frame-5-line {
        position: absolute;
    }
    .frame-5 {
        top: 2612px;
    }
    .frame-5-1object-info, .frame-5-3object-info, .frame-5-2object-info, .frame-5-4object-info {
        top: 710px;
        left: 0;
    }
    .frame-5-3object {
        top: 1483px;
    }
    .frame-5-2object {
        top: 2558px;
    }
    .frame-5-4object {
        top: 3631px;
    }
    .frame-5-all-project {
        top: 4705px;
    }
    .frame-5-ellipce {
        top: 1300px;
        left: 643px;
    }
    .frame-5-line {
        top: 3205px;
        left: 700px;
    }

    .quality, .quality-background, .quality-info, .quality-free, .quality-arrow {
        position: absolute;
    }
    .quality {
        top: 7408px;
    }
    .quality-background {
        width: 439px;
        height: 408px;
        left: 585px;
    }
    .quality-info, .quality-free {
        left: 620px;
    }
    .quality-info {
        width: 375px;
        top: 280px;
        font-size: 20px;
        line-height: 35px;
    }
    .quality-free {
        top: 420px;
        font-size: 40px;
    }
    .quality-arrow {
        top: 447px;
        left: 860px;
    }

    
    .tour3d, .tour3d-look, .tour3d-for-you, .tour3d-main-photo, .tour3d-new-interior, .tour3d-project, .tour3d-mini-arrow {
        position: absolute;
    }
    .tour3d-arrow {
        display: none;
    }
    .tour3d-mini-arrow {
        left: 940px;
        display: block;
    }
    .tour3d {
        top: 8025px;
    }
    .tour3d-look, .tour3d-new-interior {
        font-size: 40px;
        line-height: 30px;
    }
    .tour3d-look, .tour3d-mini-arrow {
        top: 50px;
    }
    .tour3d-new-interior {
        top: 110px;
    }
    .tour3d-project {
        top: 180px;
    }
    .tour3d-main-photo {
        top: 260px;
    }
    .tour3d-for-you {
        top: 829px;
    }

    .services {
        position: absolute;
        top: 9944px;
    }
    .services-list {
        width: 930px;
    }
    .services-info {
        font-size: 45px;
    }
    .services-ellipse, .services-line1, .services-line2 {
        display: none;
    }

    
    .better, .better-lounge-photo, .better-layout-photo, .better-arrow {
        position: absolute;
    }
    .better {
        top: 8843px;
    }
    .better-lounge-photo {
        padding-right: 50px;
        left: 625px;
    }
    .better-layout-photo {
        top: 600px;
        left: 657px;
    }
    .better-arrow {
        left: 512px;
    }


    .rates, .rate-plan, .rate-kitchen, .tariff-card {
        position: absolute;
    }
    .rates {
        top: 11081px;
    }
    .rate-plan {
        top: 310px;
        left: 426px;
    }
    .rate-kitchen {
        top: 1385px;
        left: 461px;
    }
    .concept, .comfort {
        left: 40px;
    }
    .complex {
        top: 597px;
        left: 545px;
    }
    .comfort {
        top: 1249px;
    }


    .about, .about-us, .about-gradient {
        position: absolute;
    }
    .about {
        top: 13134px;
    }
    .about-us {
        width: 924px;
        top: 170px;
        left: 50px;
    }
    .about-us-title {
        font-size: 60px;
        line-height: 75px;
    }
    .about-us-subtitle {
        font-size: 24px;
        line-height: 30px;
    }
    .about-us-subsubtitle, #more-about {
        font-size: 16px;
    }
    .about-gradient {
        width: 1024px;
        height: 159px;
        top: 261px;
    }
    #more-about {
        width: 83px;
    }

}
 







@media (min-width: 425px) and (max-width: 768px) {
    .header-nav, .header-left, .header-right, .header-logo, .frame-1-arrow, .frame-2-img1, .frame-2-img2, .frame-2-line1, .frame-2-line2{
        display: none;
    }
    .header-about {
        border-bottom: none;  
    }
    .header-menu, .header-logo1 {
        display: block;
    }
    .header-menu {
        margin-right: 0;
    }
    .header-logo1 {
        margin-left: 0;
    }
    .header-center {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #999;
    }
    .pic-play-project {
        top: 25px;
        left: 675px;
    }
    .frame-1-word {
        font-size: 25px;
    }
    .frame-1-word-1, .frame-1-word-2 {
        left: 70px;
    }
    .frame-1-word-1 {
        top: 100px;
    }
    .frame-1-word-2 {
        top: 145px;
    }
    .frame-1-price-radius {
        width: 240px;
        height: 240px;
        top: 205px;
        left: 270px;
    }
    .frame-1-price-project {
        width: 193px;
        height: 193px;
        font-size: 18px;
    }


    .frame-2-img1-1, .frame-2-img2-2, .frame-2-line3 {
        display: block;
    }
    .frame-2-word-1, .frame-2-word-2, .frame-2-word-3, .frame-2-word-4, .frame-2-img1-1, .frame-2-img2-2, .frame-2-line3 {
        position: absolute;
    }
    .frame-2-word-1, .frame-2-word-2, .frame-2-word-3, .frame-2-img1-1, .frame-2-line3 {
        left: 65px;
    }
    .frame-2-word-1 {
        top: -600px;
    }
    .frame-2-word-2 {
        top: -550px;
    }
    .frame-2-word-3 {
        top: -500px;
    }
    .frame-2-word-4 {
        top: -117px;
        left: 514px;
        z-index: 1;
    }
    .frame-2-img1-1 {
        top: -440px;
    }
    .frame-2-img2-2 {
        top: -260px;
        left: 515px;
    }
    .frame-2-line3 {
        top: -210px;
    }


    .frame-3 {
        position: absolute;
        top: 1278px;
    }
    .frame-3-exp-tittle {
        font-size: 33px;
    }
    .frame-3-exp-subtittle {
        font-size: 24px;
    }


    .frame-4, .frame-4-tittle, .frame-4-quote2, .frame-4-feedback, .frame-4-name2, .frame-4-data2, .frame-4-arrow1-2, 
    .frame-4-arrow2-2, .frame-4-arrow3-2 {
        position: absolute;
    }
    .frame-4 {
        top: 1662px;
    }
    .frame-4-tittle {
        font-size: 32px;
        top: 100px;
        left: 277px;
    }
    .frame-4-quote2 {
        top: 220px;
        left: 40px;
    }
    .frame-4-feedback {
        top: 185px;
        left: 109px;
        font-size: 16px;
        line-height: 24px;
        padding-right: 0;
        width: 570px;
    }
    .frame-4-name2 {
        top: 295px;
        left: 100px;
    }
    .frame-4-data2 {
        top: 295px;
        left: 545px;
    }
    .frame-4-arrow1-2, .frame-4-arrow3-2 {
        top: 360px;
    }
    .frame-4-arrow1-2 {
        left: 50px;
    }
    .frame-4-arrow2-2 {
        top: 357px;
        left: 345px;
    }
    .frame-4-arrow3-2 {
        left: 678px;
    }


    .frame-5-1object-photo, .frame-5-2object-photo, .frame-5-3object-photo, .frame-5-4object-photo,
    .frame-5-ellipce, .frame-5-line {
        display: none;
    }
    .frame-5-1object-photo-mini, .frame-5-2object-photo-mini, .frame-5-3object-photo-mini, .frame-5-4object-photo-mini,
    .frame-5-ellipce-mini {
        display: block;
    }
    .frame-5-title, .frame-5-comm, .frame-5-personal-project, .frame-5-public-project, .frame-5, .frame-5-1object-info,
    .frame-5-1object, .frame-5-2object, .frame-5-3object, .frame-5-4object, .frame-5-2object-info, .frame-5-3object-info,
    .frame-5-4object-info, .frame-5-all-project, .frame-5-ellipce-mini {
        position: absolute;
    }
    .frame-5-title, .frame-5-comm, .frame-5-personal-project {
        left: 50px;
    }
    .frame-5-title {
        font-size: 32px;
        top: 100px;
    }
    .frame-5-comm {
        font-size: 16px;
        top: 150px;
    }
    .frame-5-personal-project, .frame-5-public-project {
        font-size: 12px;
        top: 200px;
    }
    .frame-5-public-project {
        left: 160px;
    }
    .frame-5 {
        top: 2010px;
    }
    .frame-5-1object, .frame-5-2object {
        top: 243px;
    }
    .frame-5-1object, .frame-5-3object {
        left: 7px;
    }
    .frame-5-1object-info, .frame-5-3object-info {
        top: 298px;
    }
    .frame-5-2object, .frame-5-4object {
        left: 390px;
    }
    .frame-5-2object-info, .frame-5-4object-info {
        top: 298px;
    }
    .frame-5-3object, .frame-5-4object {
        top: 715px;
    }
    .frame-5-all-project {
        top: 1187px;
   }
   .frame-5-ellipce-mini {
        top: 180px;
        left: 630px;
   }
   .frame-5-object-info p {
        font-size: 14px;
        padding-top: 12px;
        padding-left: 10px;
        line-height: 20px;
   }


   .quality, .quality-arrow-mini, .quality-background, .quality-info, .quality-free {
        position: absolute;
   }
   .quality {
        top: 3215px;
   }
   .quality-main-photo {
    padding-top: 100px;
    padding-bottom: 0;
   }
   .quality-background {
        left: 435px;
        width: 333px;
        height: 306px;        
   }
   .quality-info, .quality-free {
        left: 450px;
   }
   .quality-info {
        width: 305px;
        top: 245px;
        font-size: 16px;
        line-height: 25px;
   }
   .quality-free {
        top: 340px;
        font-size: 32px;
   }
   .quality-arrow {
        display: none;
   }
   .quality-arrow-mini {
        display: block;
        top: 357px;
        left: 695px;
   }


   .tour3d, .tour3d-look, .tour3d-new-interior, .tour3d-project, .tour3d-for-you, .tour3d-main-photo, .tour3d-mini-arrow {
        position: absolute;
   }
   .tour3d {
        top: 3650px;
   }
   .tour3d-look, .tour3d-new-interior, .tour3d-project, .tour3d-for-you {
        left: 50px;
   }
   .tour3d-look, .tour3d-new-interior {
        font-size: 32px;
        line-height: 25px;
   }
   .tour3d-project, .tour3d-for-you {
        font-size: 24px;
   }
   .tour3d-for-you {
        top: 680px;
   }
   .tour3d-main-photo {
        left: 0;
   }
   .tour3d-mini-arrow {
        left: 730px;
   }


   .services {
        gap: 50px;
        position: absolute;
        top: 4894px;
   }
   .services-list {
        width: 690px;
   }
   .services-info {
        font-size: 26px;
        line-height: 35px;
   }
   .contract {
        margin-top: 50px;
   }
   .visit {
        margin-bottom: 50px;
   }


   
   .better, .why-we-better, .we-make, .better-arrow-mini, .better-lounge-mini-photo, .better-layout-mini-photo, .better-kitchen-mini-photo, .better-line-mini {
        position: absolute;
   }
   .why-we-better, .we-make, .better-kitchen-mini-photo {
        left: 50px;
   }
   .better-arrow, .better-kitchen-photo, .better-layout-photo, .better-line, .better-lounge-photo {
        display: none;
   }
   .better-lounge-mini-photo, .better-layout-mini-photo, .better-kitchen-mini-photo, .better-line-mini, .better-arrow-mini {
        display: block;
   }
   .better {
        top: 4363px;
   }
   .why-we-better {
        font-size: 32px;
        line-height: 38px;
        top: 50px;
   }
   .we-make {
        font-size: 24px;
        line-height: 28px;
   }
   .we-make {
        top: 365px;
   }
   .better-arrow-mini {
        padding-bottom: 30px;
        top: 430px;
        left: 384px;
   }
   .better-line-mini {
        top: 57px;
        left: 99px;
   }
   .better-lounge-mini-photo {
        top: 150px;
        left: 460px;
   }
   .better-kitchen-mini-photo {
        top: 150px;
        z-index: 1;
   }
   .better-layout-mini-photo {
        top: 276px;
        left: 187px;
        z-index: 2;
   }

   .rates, .ours-rate, .complex, .comfort, .rate-plan, .rate-kitchen-mini, .rate-ellipce-mini {
        position: absolute;
   }
   .rates {
        top: 5641px;
   }
   .rate-ellipce, .rate-kitchen {
        display: none;
   }
   .rate-ellipce-mini, .rate-kitchen-mini {
        display: block;
   }
   .ours-rate {
        font-size: 40px;
        line-height: 55px;
        left: 75px;
   }
   .complex {
        top: 1115px;
        left: 241px;
   }
   .comfort {
        top: 1983px;
   }
   .rate-plan {
        top: 1000px;
        left: 10px;
   }
   .rate-kitchen-mini {
        top: 1935px;
        left: 520px;
   }
   .rate-ellipce-mini {
        top: 2051px;
        left: 640px
   }


   .about, .about-background, .about-gradient, .about-us-title, .about-us-subtitle, .about-us-subsubtitle, #more-about, .about-gradient {
        position: absolute;
   }
   .about {
        top: 8461px;
   }
   .about-background {
        top: 50px;
   }
   .about-gradient {
        top: 245px;
   }
   .about-us {
        width: 668px;
   }
   .about-us-title {
        font-size: 50px;
        line-height: 58px;
        top: 32px;
   }
   .about-gradient {
        width: 768px;
        height: 120px;
        top: 170px;
   }
   .about-us-title, .about-us-subtitle, .about-us-subsubtitle {
        padding-right: 20px;
}
    #more-about, .about-us-title, .about-us-subtitle, .about-us-subsubtitle {
        left: 33px;
}
    .about-us-subtitle {
        top: 120px;
}
    .about-us-subsubtitle1 {
        top: 200px;
}
    .about-us-subsubtitle2 {
        top: 311px;
}

}








@media (min-width: 375px) and (max-width: 425px) {
    .header-nav, .header-logo, .header-left, .header-right, .frame-1-arrow, .frame-1-main-img,
    .frame-2-img1, .frame-2-img2, .frame-2-line1, .frame-2-line2,
    .frame-4-arrow1, .frame-4-arrow2, .frame-4-arrow3, .frame-4-data, .frame-4-name, .frame-4-background, .frame-4-quote {
        display: none;
    }
    .header-logo1, .header-menu, .frame-1-word, .frame-1-mini-img {
        display: block;
    }
    .header-logo1, .header-menu, .frame-1-mini-img {
        position: absolute;
    }
    .header-logo1 {
        top: 20px;
        left: 16px;
    }
    .header-center {
        border-bottom: none;
    }
    .header-menu {
        top: 34px;
        left: 341px;
    }
    .header-about {
        padding: 0;
        height: 93px;
        border-bottom: 1px solid #333;
    }
    
    .frame-1-word {
        font-size: 50px;
    }
    .pic-play-project {
        width: 32px;
        height: 32px;
        top: 40px;
        left: 327px;
    }
    .frame-1-price-radius {
        width: 264px;
        height: 264px;
        top: 452px;
        left: 80px;
    }
    .frame-1-price-project {
        width: 210px;
        height: 210px;
    }
    .frame-1-mini-img {
        top: 20px;
        left: 25px;
    }
    .frame-1-word-1, .frame-1-word-2 {
        left: 40px;
    }
    .frame-1-word-1 {
        top: 160px;
    }
    .frame-1-word-2 {
        top: 283px;
    }


    .frame-2, .frame-2-word-1, .frame-2-word-2, .frame-2-word-3, .frame-2-word-4, .frame-2-img1-1,
    .frame-2-img2-2, .frame-2-line3 {
        position: absolute;
    }
    .frame-2-word-1, .frame-2-word-2, .frame-2-word-3 {
        left: 13px;
    }
    .frame-2 {
        top: 1130px;
    }
    .frame-2-word { 
        font-size: 30px;
    }
    .frame-2-word-1 {
        top: -395px;
    }
    .frame-2-word-2 {
        top: -359px;
    }
    .frame-2-word-3 {
        top: -319px;
    }
    .frame-2-word-4 {
        top: 294px;
        left: 97px;
    }
    .frame-2-img1-1 {
        top: -237px;
        left: 35px;
    }
    .frame-2-img2-2 {
        top: 263px;
        left: 198px;
    }
    .frame-2-line3 {
        top: -1px;
        left: 33.3px;
    }


    .frame-3 {
        position: absolute;
        top: 1519px;
    }
    .frame-3-exp-tittle {
        font-size: 25px;
    }
    .frame-3-exp-subtittle {
        font-size: 16px;
    }

    
    .frame-4-background1, .frame-4-quote2, .frame-4-name2, .frame-4-data2, .frame-4-arrow1-2,
    .frame-4-arrow2-2, .frame-4-arrow3-2 {
        display: block;
    }
    .frame-4, .frame-4-tittle, .frame-4-quote2, .frame-4-feedback, .frame-4-name2,
    .frame-4-data2, .frame-4-arrow1-2, .frame-4-arrow2-2, .frame-4-arrow3-2 {
        position: absolute;
    }
    .frame-4-tittle, .frame-4-arrow1-2 {
        left: 40px;
    }
    .frame-4-quote2, .frame-4-feedback, .frame-4-name2 {
        left: 57px;
    }
    .frame-4 {
        top: 1745px;
        padding-left: 25px;
    }
    .frame-4-background1 {
        padding-top: 50px;
    }
    .frame-4-tittle {
        font-size: 32px;
        top: 100px;
    }
    .frame-4-quote2 {
        top: 158px;
    }
    .frame-4-feedback {
        top: 206px;
        font-size: 16px;
        line-height: 24px;
        padding-right: 0;
        width: 327px;
    }
    .frame-4-name2 {
        top: 446px;
    }
    .frame-4-data2 {
        top: 474px;
        left: 73px;
    }
    .frame-4-arrow1-2 {
        top: 544px;
    }
    .frame-4-arrow2-2 {
        top: 541px;
        left: 163px;
    }
    .frame-4-arrow3-2 {
        top: 544px;
        left: 334px;
    }


    .frame-5, .frame-5-title, .frame-5-comm, .frame-5-personal-project, .frame-5-public-project, 
    .frame-5-1object, .frame-5-2object, .frame-5-3object, .frame-5-4object, .frame-5-ellipce-mini,
    .frame-5-all-project, .frame-5-line-mini {
        position: absolute;
    }
    .frame-5 {
        top: 2282px;
    }
    .frame-5-title, .frame-5-comm, .frame-5-personal-project {
        left: 30px;
    }
    .frame-5-public-project {
        left: 140px;
    }
    .frame-5-1object, .frame-5-2object, .frame-5-3object, .frame-5-4object  {
        left: 25px;
    }
    .frame-5-2object {
        top: 1188px;
    }
    .frame-5-4object {
        top: 1660px;
    }
    .frame-5-ellipce-mini {
        top: 650px;
        left: 280px;
    }
    .frame-5-all-project {
        top: 2120px;
    }
    .frame-5-line-mini {
        display: block;
        top: 1285px;
        left: 375px;
        z-index: -1;
    }


    .quality, .quality-background, .quality-info, .quality-free, .quality-arrow-mini {
        position: absolute;
    }
    .quality {
        top: 4439px;
    }
    .quality-main-photo {
        padding-top: 50px;
    }
    .quality-background {
        top: 166px;
        left: 16px;
        width: 394px;
        height: 305px;
    }
    .quality-info, .quality-free {
        left: 32px;
    }
    .quality-info {
        width: 190px;
        top: 321px;
        font-size: 12px;
        line-height: 20px;
    }
    .quality-free {
        top: 422px;
        font-size: 22px;
    }
    .quality-arrow-mini {
        top: 433px;
        left: 344px;
    }


    .tour3d, .tour3d-look, .tour3d-new-interior, .tour3d-project, .tour3d-for-you, .tour3d-mini-photo, .tour3d-mini-arrow { 
        position: absolute;
    }
    .tour3d {
        top: 4960px;
    }
    .tour3d-main-photo, .tour3d-arrow {
        display: none;
    }
    .tour3d-mini-photo, .tour3d-mini-arrow {
        display: block;
    }
    .tour3d-look, .tour3d-mini-arrow {
        top: 0;
    }
    .tour3d-look, .tour3d-new-interior {
        left: 16px;
        line-height: 38px;
    }
    .tour3d-new-interior {
        top: 84px;
    }
    .tour3d-project, .tour3d-for-you {
        left: 16px;
        font-size: 16px;
        line-height: 24px;
    }
    .tour3d-project {
        top: 188px;
    }
    .tour3d-for-you {
        width: 255px;
        top: 760px;
    }
    .tour3d-mini-photo {
        top: 236px;
        left: 25px;
    }
    .tour3d-mini-arrow {
        left: 390px;
    }


    .services {
        position: absolute;
        top: 6430px;
    }
    .services-list {
        width: 390px;
    }
    .services-info {
        font-size: 20px;
        line-height: 20px;
    }
    .services-ellipse, .services-line1, .services-line2 {
        display: none;
    }
    .services-line2-mini, .services-ellipce-mini {
        display: block;
        position: absolute;
    }
    .services-line2-mini {
        top: 3px;
        left: 407px;
    }
    .services-ellipce-mini {
        top: 98px;
        left: -42px;
        z-index: 1;
    }



    .better, .why-we-better, .we-make, .better-arrow-mini, .better-line-mini, .better-kitchen-mini-photo, .better-layout-mini-photo, .better-lounge-mini-photo {
        position: absolute;
    }
    .why-we-better, .we-make, .better-kitchen-mini-photo {
        left: 32px;
    }
    .better {
        top: 5804px;
    }
    .why-we-better {
        top: 0;
    }
    .better-line-mini {
        top: 6px;
        left: 81px;
    }
    .better-kitchen-mini-photo {
        top: 100px;
    }
    .better-lounge-mini-photo {
        top: 200px;
        left: 153px;
        z-index: 2;
    }
    .better-layout-mini-photo {
        top: 414px;
        left: 277px;
    }
    .we-make {
        top: 464px;
    }
    .better-arrow-mini {
        top: 552px;
        left: 212.5px;
    }


    .rates, .rate-background-mini, .ours-rate, .rate-plan, .tariff-card, .rate-ellipce-mini, .rate-kitchen-mini {
        position: absolute;
    }
    .rates {
        top: 6986px;
    }
    .rate-background {
        display: none;
    }
    .rate-background-mini {
        display: block;
        left: 26px;
    }
    .ours-rate {
        top: 24px;
        left: 85px;
    }
    .rate-plan {
        z-index: 1;
        top: 663px;
        left: 60px;
    }
    .name-of-rate {
        font-size: 18px;
        line-height: 24px;
        padding: 24px 0 0 16px;
    }
    .list-of-rate, .price-rate {
        font-size: 16px;
        line-height: 23px;
    }
    .list-of-rate {
        padding: 24px 16px 0 16px;
    }
    .price-rate {
        padding: 32px 0 0 16px;
    }
    #order-rate- {
        margin: 24px 0 0 16px;
    }
    #text-download-price, #order-rate- {
        font-size: 14px;
        line-height: 44px;
    }
    #order-rate-, .button-download-price {
        width: 311px;
    }
    .button-download-price {
        margin: 24px 0 30px 16px;
    }
    .tariff-card {
        width: 343px;
        height: 650px;
        left: 42px;
        z-index: 2;
    }
    .rate-ellipce-mini, .rate-kitchen-mini {
        left: 16px;
    }
    .concept {
        top: 103px;
    }
    .complex {
        top: 785px;
    }
    .comfort {
        height: 600px;
        top: 1466px;
    }
    .rate-kitchen-mini {
        top: 2007px;
        left: 58px;
    }
    .rate-ellipce-mini {
        top: 2052px;
        left: 290px;
        z-index: 3;
    }


    .about-gradient-mini, .about-background-mini, .about, .about-us, .about-us-title, .about-us-subtitle, .about-us-subsubtitle, #more-about {
        position: absolute;
    }
    .about-us-title, .about-us-subtitle, .about-us-subsubtitle, #more-about {
        left: 16px;
    }
    .about-background-mini {
        display: block;
        left: 26px;
    }
    .about-background {
        display: none;        
    }
    .about {
        top: 9215px;
    }
    .about-gradient {
        width: 425px;
        height: 238px;
        top: 502px;
    }
    .about-us {
        width: 343px;
        height: 749px;
        top: 24px;
        left: 42px;
    }
    .about-us-title {
        font-size: 32px;
        line-height: 38px;
        top: 24px;
    }
    .about-us-subtitle {
        font-size: 14px;
        line-height: 20px;
        top: 82px;
        padding-right: 90px;
    }
    .about-us-subsubtitle, #more-about {
        font-size: 16px;
        line-height: 24px;
    }
    .about-us-subsubtitle1 {
        top: 142px;
    }
    .about-us-subsubtitle2 {
        top: 306px;
    }
    .about-us-subsubtitle3 {
        top: 470px;
    }
    #more-about {
        width: 83px;
        top: 702px;
    }

}






